
<% @title = 'Our books' %>
<table class='books_layout_table'>
  <th>
    <button class='btn btn-warning'>
      <%= link_to 'Sort by rate ascenting',
          books_path(:search => params[:search],
          :order => 'asc')%>
    </button>
  </th>
  <th>
    <button class='btn btn-warning'>
      <%= link_to 'Sort by rate descenting',
          books_path(:search => params[:search],
          :order => 'desc')%>
    </button>
  </th>
  <th>
    <%= render 'search' %>
  </th>
</table>

<div class='books'>
  <%= render @books %>
</div>
