/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html, body {
   padding:0px;
   margin:0px;
   background-image: linear-gradient(90deg, #ffffff, #fbfcfe);
   height: 100%;
   width:100%;
}

.heading {
  width:100%;
  position:relative;
  height: 200px;
  background-image: url('http://www.intrawallpaper.com/static/images/White-Background-BD1.png');
  background-color: transparent;
  background-size: auto;
  margin: 0;
}

.heading h1 {
  color: orange;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  padding:20px;
  margin:0;
}

.sidenav {
    height: 100%;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c0c6c9;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 3px 2px grey;
}

.sidenav a, .sidenav a:link {
    padding: 6px 8px 6px 16px;
    display: inline;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;

}

.sidenav a:hover {
    color: #f1f1f1;
}
 .openbtn {
   width: 50px;
   height: 50px;
   margin-bottom: 0;
   color:black;
   float: left;
   margin: 10px;
   display:none;

 }
#container_body {
  margin-top: 40px;
  margin-left:220px;
}
