<p>
  <strong><%= review.nick%></strong><i>&nbspsays...</i>
</p>
<p>
  &nbsp&nbsp&nbsp<%= review.body %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Delete', book_review_path(review), method: :delete %>
<% end %>
<br>
